.desktop-1 .rectangle-32 {
    border-radius: 30px;
    background: #FF7A00;
    position: absolute;
    left: 685px;
    bottom: 1248px;
    width: 165px;
    height: 47px;
}

.desktop-1 .removebg-1 {
    background: url('/assets/images/removebg_3.png') 50% / cover no-repeat;
    width: 159px;
    height: 106px;
}

.desktop-1 .home {
    margin: 20px 14.5px 20px 0;
    display: inline-block;
    width: 74px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    text-decoration-line: underline;
    color: #0F6CA1;
}

.desktop-1 .about {
    margin: 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    text-decoration-line: underline;
    color: #0F6CA1;
}

.desktop-1 .blog {
    margin: 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    text-decoration-line: underline;
    color: #0F6CA1;
}

.desktop-1 .services {
    margin: 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    text-decoration-line: underline;
    color: #0F6CA1;
}

.desktop-1 .login-sign-up {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-8 {
    border-radius: 8px;
    background: rgba(195, 140, 32, 0.89);
    position: relative;
    display: flex;
    padding: 20px 7.4px 20px 6px;
    box-sizing: border-box;
}

.desktop-1 .container-16 {
    margin: 19px 0 18px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 899px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .group {
    width: 47.7px;
    height: 42.2px;
}

.desktop-1 .ggprofile {
    margin: 31.9px 0;
    display: flex;
    width: 52px;
    height: 46px;
    box-sizing: border-box;
}

.desktop-1 .container-47 {
    margin-bottom: 311px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1451.8px;
    box-sizing: border-box;
}

.desktop-1 .explore-with-easeeguide {
    margin: 0 0 14px 99.4px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 78px;
    color: #C38C20;
}

.desktop-1 .were-here-to-turn-your-dreams-into-reality-join-us-as-we-navigate-through-the-extraordinary {
    margin-left: 84.2px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFEFE;
}

.desktop-1 .container-32 {
    background: url('/assets/images/screen_shot_20240705_at_114033_pm_1.png') 50% / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 72.2px 450px 18px;
    width: 1542px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .line-2 {
    transform: rotate(89.74deg);
    position: absolute;
    left: 767px;
    bottom: 0px;
    width: 108.3px;
    height: 0px;
}

.desktop-1 .container-15 {
    position: relative;
    margin: 0 0 185.8px 51px;
    display: flex;
    padding-bottom: 56.2px;
    width: 1542px;
    box-sizing: border-box;
}

.desktop-1 .removebg-2 {
    background: url('/assets/images/removebg_3.png') 50% / cover no-repeat;
    width: 466px;
    height: 438px;
}

.desktop-1 .container-27 {
    border-radius: 30px;
    background: #FFFFFF;
    position: relative;
    margin: 27px 101px 0 0;
    display: flex;
    padding: 31px 28px 35px 29px;
    width: 523px;
    height: 504px;
    box-sizing: border-box;
}

.desktop-1 .why-choose-us {
    margin-bottom: 44px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 96px;
    color: #000000;
}

.desktop-1 .offering-real-time-information-comprehensive-trip-planning-cost-effective-tour-guidance-and-solutions-to-language-barriers {
    margin-right: 18.7px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

.desktop-1 .container-43 {
    margin: 0 0px 254px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.desktop-1 .container-51 {
    margin: 0 41.9px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-3 {
    margin: 2px 38.5px 0 0;
    display: inline-block;
    width: 138px;
    overflow-wrap: break-word;
    font-family: 'Jomolhari';
    font-weight: 400;
    font-size: 48px;
    color: #046988;
}

.desktop-1 .container-4 {
    margin-bottom: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Jomolhari';
    font-weight: 400;
    font-size: 48px;
    color: #046988;
}

.desktop-1 .container-25 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 398.3px;
    box-sizing: border-box;
}

.desktop-1 .happy-clients {
    margin-right: 19px;
    width: 191px;
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #FF6E04;
}

.desktop-1 .clients {
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #FF6E04;
}

.desktop-1 .container-18 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 401.4px;
    box-sizing: border-box;
}

.desktop-1 .container-38 {
    border-radius: 35px;
    background: #FFFFFF;
    position: relative;
    margin: 0 0 93.5px 632px;
    display: flex;
    flex-direction: column;
    padding: 45px 28.8px 45px 33px;
    width: 487px;
    box-sizing: border-box;
}

.desktop-1 .line-3 {
    margin: 0 26px 39.5px 76px;
    width: 1491px;
    height: 0px;
}

.desktop-1 .what-our-clients-says {
    margin: 0 517px 424px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    color: #000000;
}

.desktop-1 .enjoy-your-travel-destination {
    margin: 0 0 64px 33px;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'JejuGothic';
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
}

.desktop-1 .rectangle-12 {
    border-radius: 5px;
    background: #D9D9D9;
    margin: 97px 166.4px 80.5px 0;
    width: 308px;
    height: 230px;
}

.desktop-1 .rectangle-9 {
    border-radius: 5px;
    background: #D9D9D9;
    margin-right: 161px;
    width: 387px;
    height: 411px;
}

.desktop-1 .rectangle-10 {
    border-radius: 5px;
    background: #D9D9D9;
    margin: 91px 0 90px 0;
    width: 308px;
    height: 230px;
}

.desktop-1 .container-28 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1333px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .whats-app-image-20240706-at-13610-am-1 {
    background: url('/assets/images/whats_app_image_20240706_at_13610_am_2.jpeg') 50% / cover no-repeat;
    position: absolute;
    left: 388px;
    bottom: 0px;
    width: 548px;
    height: 411px;
}

.desktop-1 .container-35 {
    position: relative;
    margin-bottom: 94px;
    display: flex;
    width: 1333px;
    box-sizing: border-box;
}

.desktop-1 .book-now {
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 20px;
    color: #FEFEFE;
}

.desktop-1 .container-30 {
    border-radius: 80px;
    background: #FF7A00;
    position: relative;
    display: flex;
    padding: 8px 1px 7px 0;
    width: 189px;
    box-sizing: border-box;
}

.desktop-1 .book-now-2 {
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.desktop-1 .container-23 {
    border-radius: 80px;
    background: #FF7A00;
    position: relative;
    display: flex;
    padding: 8px 0 7px 1px;
    width: 189px;
    box-sizing: border-box;
}

.desktop-1 .container-17 {
    margin: 0 50px 6px 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    box-sizing: border-box;
}

.desktop-1 .book-now-1 {
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.desktop-1 .container-40 {
    border-radius: 80px;
    background: #FF7A00;
    position: relative;
    margin-left: 8px;
    display: flex;
    padding: 8px 0 7px 1px;
    width: 189px;
    box-sizing: border-box;
}

.desktop-1 .container-13 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1333px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .whats-app-image-20240706-at-13721-am-1 {
    background: url('/assets/images/whats_app_image_20240706_at_13721_am_2.jpeg') 50% / cover no-repeat;
    position: absolute;
    right: 46px;
    bottom: 325px;
    width: 434px;
    height: 298px;
}

.desktop-1 .whats-app-image-20240706-at-13829-am-1 {
    background: url('/assets/images/whats_app_image_20240706_at_13829_am_2.jpeg') 50% / cover no-repeat;
    transform: rotate(-89.866deg);
    position: absolute;
    left: 51.9px;
    bottom: 314.6px;
    width: 314.5px;
    height: 427.4px;
}

.desktop-1 .bhuvanagiri-swarnagiri-temple {
    margin: 0 0.1px 13px 0.1px;
    align-self: flex-start;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

.bhuvanagiri-swarnagiri-temple-sub42 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: #FF0202;
}

.bhuvanagiri-swarnagiri-temple {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: #151414;
}

.desktop-1 .vector-11 {
    margin-right: 7px;
    width: 24px;
    height: 25px;
}

.desktop-1 .vector-12 {
    margin-right: 7px;
    width: 24px;
    height: 25px;
}

.desktop-1 .vector-13 {
    margin-right: 7px;
    width: 24px;
    height: 25px;
}

.desktop-1 .vector-14 {
    margin-right: 7px;
    width: 24px;
    height: 25px;
}

.desktop-1 .vector-15 {
    width: 24px;
    height: 25px;
}

.desktop-1 .group-1 {
    margin: 6px 17.3px 7px 0;
    display: flex;
    flex-direction: row;
    width: 148px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container {
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #12319D;
}

.desktop-1 .container-61 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-62 {
    border-radius: 30px;
    background: #D9D9D9;
    position: absolute;
    left: 108px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    padding: 18px 0 18px 28px;
    width: 324px;
    box-sizing: border-box;
}

.desktop-1 .vikarabad-ananthagiri-hills {
    margin-bottom: 1px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

.vikarabad-ananthagiri-hills-sub42 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: #FF0202;
}

.vikarabad-ananthagiri-hills {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: #151414;
}

.desktop-1 .vector-16 {
    margin-right: 8.9px;
    width: 30.4px;
    height: 25px;
}

.desktop-1 .vector-17 {
    margin-right: 8.9px;
    width: 30.4px;
    height: 25px;
}

.desktop-1 .vector-18 {
    margin-right: 8.9px;
    width: 30.4px;
    height: 25px;
}

.desktop-1 .vector-10 {
    width: 30.4px;
    height: 25px;
}

.desktop-1 .group-2 {
    margin: 6px 22.1px 7px 0;
    display: flex;
    flex-direction: row;
    width: 148px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-1 {
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #12319D;
}

.desktop-1 .container-1 {
    margin-right: 14.1px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-46 {
    border-radius: 30px;
    background: #D9D9D9;
    position: absolute;
    left: 50%;
    bottom: 162px;
    translate: -50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    width: 324px;
    height: 163px;
    box-sizing: border-box;
}

.desktop-1 .old-city-charminar {
    margin: 0 0 14px 25.3px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

.old-city-charminar-sub42 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: #FF0202;
}

.old-city-charminar {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: #151414;
}

.desktop-1 .vector-5 {
    margin-right: 7px;
    width: 24px;
    height: 25px;
}

.desktop-1 .vector-6 {
    margin-right: 7px;
    width: 24px;
    height: 25px;
}

.desktop-1 .vector-7 {
    margin-right: 7px;
    width: 24px;
    height: 25px;
}

.desktop-1 .vector {
    margin-right: 7px;
    width: 24px;
    height: 25px;
}

.desktop-1 .vector-1 {
    width: 24px;
    height: 25px;
}

.desktop-1 .group-3 {
    margin: 5px 25.3px 8px 0;
    display: flex;
    flex-direction: row;
    width: 148px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-2 {
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #12319D;
}

.desktop-1 .container-45 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-56 {
    border-radius: 30px;
    background: #D9D9D9;
    position: absolute;
    right: 82px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0 17px 0;
    width: 324px;
    box-sizing: border-box;
}

.desktop-1 .container-14 {
    background: #046988;
    position: relative;
    margin-left: 51px;
    display: flex;
    padding: 171px 100px 91px 109px;
    width: 1542px;
    box-sizing: border-box;
}

.desktop-1 .our-travel-guides {
    margin: 0 3px 70px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    color: #000000;
}

.desktop-1 .whats-app-image-20240707-at-120251-am-1 {
    background: url('/assets/images/whats_app_image_20240707_at_120251_am_1.jpeg') 50% / cover no-repeat;
    margin-right: 127px;
    width: 370px;
    height: 439px;
}

.desktop-1 .whats-app-image-20240707-at-120251-am-11 {
    background: url('/assets/images/whats_app_image_20240707_at_120251_am_11.jpeg') 50% / cover no-repeat;
    margin-right: 153.9px;
    width: 347.1px;
    height: 439px;
}

.desktop-1 .whats-app-image-20240707-at-120250-am-11 {
    background: url('/assets/images/whats_app_image_20240707_at_120250_am_11.jpeg') 50% / cover no-repeat;
    width: 370px;
    height: 439px;
}

.desktop-1 .container-26 {
    margin-bottom: 46px;
    display: flex;
    flex-direction: row;
    width: 1368px;
    box-sizing: border-box;
}

.desktop-1 .whats-app-image-20240707-at-120250-am-1 {
    background: url('/assets/images/whats_app_image_20240707_at_120250_am_2.jpeg') 50% / cover no-repeat;
    align-self: flex-start;
    width: 370px;
    height: 431.5px;
}

.desktop-1 .container-29 {
    background: #D9D9D9;
    position: relative;
    margin: 0 0 41.5px 51px;
    display: flex;
    flex-direction: column;
    padding: 62px 74px 0 100px;
    width: 1542px;
    box-sizing: border-box;
}

.desktop-1 .rectangle-27 {
    border: 5px solid #FFFFFF;
    position: absolute;
    top: 197px;
    right: 485px;
    width: 567px;
    height: 598px;
}

.desktop-1 .full-name {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.42);
}

.full-name-sub1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
}

.desktop-1 .container-5 {
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
    margin: 0 0 47px 1px;
    padding: 11px 27px 12px 27px;
    width: fit-content;
    box-sizing: border-box;
}

.desktop-1 .destiny {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.42);
}

.desktop-1 .container-53 {
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
    margin-right: 15px;
    display: flex;
    padding: 16px 11.4px 17px 0;
    width: 157px;
    box-sizing: border-box;
}

.desktop-1 .from {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.43);
}

.desktop-1 .container-52 {
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
    margin-right: 13px;
    display: flex;
    padding: 16px 1.4px 17px 0;
    width: 157px;
    box-sizing: border-box;
}

.desktop-1 .duration {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.43);
}

.desktop-1 .container-2 {
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
    display: flex;
    padding: 16px 0 17px 4.3px;
    width: 157px;
    box-sizing: border-box;
}

.desktop-1 .container-44 {
    position: relative;
    margin: 0 1px 43px 0;
    display: flex;
    flex-direction: row;
    width: 499px;
    box-sizing: border-box;
}

.desktop-1 .date {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.43);
}

.desktop-1 .container-65 {
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
    margin-right: 12px;
    display: flex;
    padding: 20px 123.9px 13px 0;
    width: 242px;
    box-sizing: border-box;
}

.desktop-1 .num-of-people {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.43);
}

.desktop-1 .container-42 {
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
    display: flex;
    padding: 16px 2.8px 17px 0;
    width: 236px;
    box-sizing: border-box;
}

.desktop-1 .container-37 {
    position: relative;
    margin: 0 10px 48px 0;
    display: flex;
    flex-direction: row;
    width: 490px;
    box-sizing: border-box;
}

.desktop-1 .email {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.43);
}

.desktop-1 .container-57 {
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
    margin: 0 1px 43px 0;
    padding: 16px 28px 17px 28px;
    width: fit-content;
    box-sizing: border-box;
}

.desktop-1 .contact {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.43);
}

.desktop-1 .container-49 {
    border-radius: 30px;
    background: #D9D9D9;
    position: relative;
    margin: 0 1px 25px 0;
    padding: 18px 28px 15px 28px;
    width: fit-content;
    box-sizing: border-box;
}

.desktop-1 .submit {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-11 {
    border-radius: 30px;
    background: #FF7A00;
    position: relative;
    margin-left: 7px;
    display: flex;
    padding: 9px 0 9px 0.8px;
    width: 165px;
    box-sizing: border-box;
}

.desktop-1 .container-24 {
    background: rgba(4, 105, 136, 0.98);
    position: relative;
    margin: 0 3px 0 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 216px 0 44px 0;
    width: 1542px;
    box-sizing: border-box;
}

.desktop-1 .rectangle-33 {
    background: #D9D9D9;
    margin-bottom: 24px;
    align-self: flex-start;
    width: 51px;
    height: 8px;
}

.desktop-1 .contact-us {
    margin-bottom: 12px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    color: #000000;
}

.desktop-1 .we-are-happy-to-help-you {
    margin-bottom: 40px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    color: #000000;
}

.desktop-1 .name {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.desktop-1 .container-22 {
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background: #FFFFFF;
    position: relative;
    padding: 21px 24px 18px 24px;
    width: 245px;
    box-sizing: border-box;
}

.desktop-1 .mail-contact-no {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.desktop-1 .container-36 {
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background: #FFFEFE;
    position: relative;
    padding: 21px 22px 18px 22px;
    width: 245px;
    box-sizing: border-box;
}

.desktop-1 .container-12 {
    margin-right: 23.6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 590px;
    box-sizing: border-box;
}

.desktop-1 .container-59 {
    margin: 0 287.4px 78px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.desktop-1 .add-your-thoughts-here {
    margin-bottom: 169px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.37);
}

.desktop-1 .submit-1 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-54 {
    border-radius: 30px;
    background: #FF7A00;
    position: relative;
    margin-left: 152px;
    display: flex;
    align-self: center;
    padding: 9px 0 9px 0.8px;
    width: 165px;
    box-sizing: border-box;
}

.desktop-1 .container-4 {
    border-radius: 30px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 19px 29px;
    width: 527px;
    box-sizing: border-box;
}

.desktop-1 .container-3 {
    margin: 0 32px 108px 133px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.desktop-1 .line-4 {
    background: rgba(0, 0, 0, 0.46);
    margin: 0 157px 42px 157px;
    align-self: flex-start;
    width: 740px;
    height: 0px;
}

.desktop-1 .easeeguide-explore-experience-enjoy {
    margin-bottom: 74px;
    align-self: flex-end;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.easeeguide-explore-experience-enjoy-sub4 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.333;
}

.easeeguide-explore-experience-enjoy {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.333;
}

.desktop-1 .hyderabad-telangana-in-500001 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
}

.desktop-1 .container-39 {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.desktop-1 .subscribe-to-our-newsletter-be-among-the-privileged-few-to-receive-exclusive-offers-and-stay-updated-with-the-latest-news {
    margin-bottom: 28px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.subscribe-to-our-newsletter-be-among-the-privileged-few-to-receive-exclusive-offers-and-stay-updated-with-the-latest-news-sub1 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    line-height: 1.333;
}

.desktop-1 .subscribe {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-19 {
    border-radius: 30px;
    background: #FF7A00;
    position: relative;
    margin-right: 31.7px;
    display: flex;
    padding: 9px 2px 9px 0;
    width: 182px;
    box-sizing: border-box;
}

.desktop-1 .container-48 {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.desktop-1 .container-64 {
    margin-bottom: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1462.7px;
    box-sizing: border-box;
}

.desktop-1 .pages {
    margin: 1px 14.5px 0 0;
    display: inline-block;
    width: 78px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.desktop-1 .destination {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.desktop-1 .links {
    margin-bottom: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.desktop-1 .follow-us {
    margin-top: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-21 {
    margin: 0 67px 17px 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 1025.1px;
    box-sizing: border-box;
}

.desktop-1 .about-us {
    margin-bottom: 32px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .tourism {
    margin-right: 13.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-63 {
    margin: 15px 0 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.desktop-1 .beach {
    margin-bottom: 17px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .mountains {
    margin-bottom: 17px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .sea {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.desktop-1 .privacy-policy {
    margin-bottom: 24px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .terms-of-use {
    margin: 0 9.7px 0 1px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-50 {
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.desktop-1 .ellipse-1 {
    margin-right: 27px;
    width: 63px;
    height: 52px;
}

.desktop-1 .ellipse-2 {
    margin-right: 26px;
    width: 63px;
    height: 52px;
}

.desktop-1 .ellipse-3 {
    margin-right: 27px;
    width: 63px;
    height: 52px;
}

.desktop-1 .ellipse-4 {
    width: 63px;
    height: 52px;
}

.desktop-1 .container-55 {
    margin: 20px 0 49px 0;
    display: flex;
    flex-direction: row;
    width: 332px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-10 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1240px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .vector-19 {
    width: 36px;
    height: 31px;
}

.desktop-1 .grommet-iconsinstagram {
    position: absolute;
    top: 30px;
    right: 282px;
    display: flex;
    width: 36px;
    height: 31px;
    box-sizing: border-box;
}

.desktop-1 .vector-20 {
    width: 38.3px;
    height: 28.6px;
}

.desktop-1 .mdiyoutube {
    position: absolute;
    top: 33.2px;
    right: 191.8px;
    display: flex;
    width: 46px;
    height: 49px;
    box-sizing: border-box;
}

.desktop-1 .group-1 {
    width: 24.4px;
    height: 26.3px;
}

.desktop-1 .iconoirx {
    position: absolute;
    top: 34.4px;
    right: 109.3px;
    display: flex;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
}

.desktop-1 .vector-23 {
    width: 31.5px;
    height: 30.8px;
}

.desktop-1 .mdilinkedin {
    position: absolute;
    top: 30.1px;
    right: 15.3px;
    display: flex;
    width: 42px;
    height: 41px;
    box-sizing: border-box;
}

.desktop-1 .container-33 {
    position: relative;
    margin: 0 44px 7px 44px;
    display: flex;
    align-self: flex-start;
    width: 1240px;
    box-sizing: border-box;
}

.desktop-1 .blog-1 {
    margin: 0 14.5px 16px 0;
    display: inline-block;
    width: 65px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .flying {
    margin: 8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .vector-24 {
    margin: 5px 20px 2.8px 0;
    width: 27px;
    height: 21.2px;
}

.desktop-1 .admineaseeguide-com {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-41 {
    margin: 15px 0 1px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.desktop-1 .vector-25 {
    width: 24px;
    height: 23.3px;
}

.desktop-1 .icbaseline-phone {
    margin: 3.9px 13px 1.9px 0;
    display: flex;
    width: 32px;
    height: 31px;
    box-sizing: border-box;
}

.desktop-1 .container-5 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-60 {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.desktop-1 .container-6 {
    margin: 0 46px 0 61px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1355.8px;
    box-sizing: border-box;
}

.desktop-1 .container-9 {
    background: #046988;
    position: relative;
    margin: 0 0 10px 51px;
    display: flex;
    flex-direction: column;
    padding: 67px 38.3px 75px 41px;
    width: 1542px;
    box-sizing: border-box;
}

.desktop-1 .copy-rights-2024-all-rights-reserved {
    margin-left: 50.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.desktop-1 .container-31 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1593px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .destination-hyderabad {
    margin-right: 58.1px;
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

.destination-hyderabad-sub23 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: rgba(0, 0, 0, 0.45);
}

.destination-hyderabad-sub19 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: rgba(0, 0, 0, 0.22);
}

.desktop-1 .line-1 {
    transform: rotate(89.721deg);
    margin: 5px 53px 0.8px 0;
    width: 108.3px;
    height: 0px;
}

.desktop-1 .departure-04-aug-2024 {
    margin-right: 19.7px;
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

.departure-04-aug-2024-sub20 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: rgba(0, 0, 0, 0.45);
}

.departure-04-aug-2024-sub19 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: rgba(0, 0, 0, 0.22);
}

.desktop-1 .vector-3 {
    margin: 94px 104px 4px 0;
    width: 29px;
    height: 16px;
}

.duration-2-d-1-nrt-sub19 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: rgba(0, 0, 0, 0.22);
}

.desktop-1 .duration-2-d-1-nrt {
    margin-right: 28.8px;
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

.duration-2-d-1-nrt-sub22 {
    font-family: 'Itim';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.333;
    color: rgba(0, 0, 0, 0.45);
}

.desktop-1 .vector-4 {
    margin: 94px 0 4px 0;
    width: 29px;
    height: 16px;
}

.desktop-1 .container-7 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.desktop-1 .search {
    overflow-wrap: break-word;
    font-family: 'Itim';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.desktop-1 .container-20 {
    border-radius: 25px;
    background: #A97003;
    position: relative;
    margin: 30px 0 25px 0;
    display: flex;
    padding: 13px 0 17px 4px;
    width: 197px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-34 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1162px;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .vector-2 {
    position: absolute;
    left: 232px;
    bottom: 33px;
    width: 29px;
    height: 16px;
}

.desktop-1 .container-58 {
    border-radius: 10px;
    background: #D9D9D9;
    position: absolute;
    left: 50%;
    top: 926px;
    translate: -50% 0;
    display: flex;
    padding: 41px 54px 29px 63px;
    width: 1279px;
    box-sizing: border-box;
}

.desktop-1 .rectangle-19 {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    background: #FFFFFF;
    position: absolute;
    top: 2412px;
    right: 87px;
    width: 1279px;
    height: 312px;
}

.desktop-1 .whats-app-image-20240706-at-111849-pm-1 {
    box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.11);
    background: url('/assets/images/whats_app_image_20240706_at_111849_pm_1.jpeg') 50% / cover no-repeat;
    position: absolute;
    left: 271px;
    top: 2343px;
    width: 270px;
    height: 381px;
}

.desktop-1 .whats-app-image-20240706-at-112044-pm-11 {
    box-shadow: 10px 0px 4px 0px rgba(0, 0, 0, 0.12);
    background: url('/assets/images/whats_app_image_20240706_at_112044_pm_11.jpeg') 50% / cover no-repeat;
    position: absolute;
    top: 2335px;
    right: 613px;
    width: 274px;
    height: 389px;
}

.desktop-1 .whats-app-image-20240706-at-112044-pm-1 {
    box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.14);
    background: url('/assets/images/whats_app_image_20240706_at_112044_pm_1.jpeg') 50% / cover no-repeat;
    position: absolute;
    top: 2335px;
    right: 192px;
    width: 287px;
    height: 391px;
}

.desktop-1 .removebg-3 {
    background: url('/assets/images/removebg_3.png') 50% / cover no-repeat;
    position: absolute;
    left: -2px;
    bottom: 483px;
    width: 246px;
    height: 209px;
}

.desktop-1 {
    background: rgba(224, 248, 251, 0.87);
    display: flex;
    padding-bottom: 10px;
    width: 1542px;
    box-sizing: border-box;
}