.desktop-4 .container-1 {
  margin-bottom: 25px;
  align-self: flex-start;
  width: 34px;
  height: 37px;
}
.destination-hyderabad-sub19 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: rgba(0, 0, 0, 0.22);
}
.desktop-4 .destination-hyderabad {
  margin-right: 58.1px;
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.destination-hyderabad-sub23 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: rgba(0, 0, 0, 0.45);
}
.desktop-4 .line-1 {
  transform: rotate(89.721deg);
  margin: 5px 53px 0.8px 0;
  width: 108.3px;
  height: 0px;
}
.departure-04-aug-2024-sub20 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: rgba(0, 0, 0, 0.45);
}
.departure-04-aug-2024-sub19 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: rgba(0, 0, 0, 0.22);
}
.desktop-4 .departure-04-aug-2024 {
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.desktop-4 .container-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-4 .duration-2-d-1-nrt {
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.duration-2-d-1-nrt-sub22 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: rgba(0, 0, 0, 0.45);
}
.duration-2-d-1-nrt-sub19 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: rgba(0, 0, 0, 0.22);
}
.desktop-4 .search {
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-4 .container-9 {
  border-radius: 25px;
  background: #A97003;
  position: relative;
  margin: 30px 0 25px 0;
  display: flex;
  padding: 13px 0 17px 4px;
  width: 197px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-2 {
  border-radius: 10px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 41px 54px 29px 63px;
  width: 1279px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .line-2 {
  transform: rotate(89.74deg);
  position: absolute;
  left: 636px;
  bottom: 29.8px;
  width: 108.3px;
  height: 0px;
}
.desktop-4 .container-7 {
  position: relative;
  margin: 0 0 108px 50px;
  display: flex;
  width: 1279px;
  box-sizing: border-box;
}
.desktop-4 .whats-app-image-20240706-at-13610-am-2 {
  border-radius: 30px;
  background: url('../assets/images/whats_app_image_20240706_at_13610_am_2.jpeg') 50% / cover no-repeat;
  margin-right: 48.2px;
  width: 363px;
  height: 232px;
}
.desktop-4 .vikarabad-ananthagiri-hills {
  margin-bottom: 24px;
  align-self: flex-start;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}
.vikarabad-ananthagiri-hills-sub1 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: #FF0202;
}
.vikarabad-ananthagiri-hills {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: #151414;
}
.desktop-4 .vector-10 {
  margin-right: 8.9px;
  width: 30.4px;
  height: 25px;
}
.desktop-4 .vector-11 {
  margin-right: 8.9px;
  width: 30.4px;
  height: 25px;
}
.desktop-4 .vector-12 {
  margin-right: 8.9px;
  width: 30.4px;
  height: 25px;
}
.desktop-4 .vector-13 {
  width: 30.4px;
  height: 25px;
}
.desktop-4 .group-3 {
  margin: 9px 0 4px 0;
  display: flex;
  flex-direction: row;
  width: 148px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-2 {
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #12319D;
}
.desktop-4 .container-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 238.9px;
  box-sizing: border-box;
}
.desktop-4 .container {
  margin: 59px 42.1px 35px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-4 .d {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.desktop-4 .container-10 {
  border-radius: 30px;
  border: 2px solid #000000;
  position: relative;
  margin: 95px 80px 84px 0;
  display: flex;
  padding-bottom: 5px;
  width: 173px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .know-more {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-4 .container-8 {
  border-radius: 25px;
  background: #A97003;
  position: relative;
  margin: 89px 0 84px 0;
  display: flex;
  padding: 15px 0 15px 9px;
  width: 197px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-11 {
  border-radius: 10px;
  background: #D9D9D9;
  position: relative;
  margin: 0 0 74px 50px;
  display: flex;
  flex-direction: row;
  padding: 24px 54px 24px 52px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .whats-app-image-20240706-at-13721-am-2 {
  border-radius: 30px;
  background: url('../assets/images/whats_app_image_20240706_at_13721_am_2.jpeg') 50% / cover no-repeat;
  margin-right: 90.3px;
  width: 364px;
  height: 223px;
}
.desktop-4 .old-city-charminar {
  margin: 0 0.3px 25px 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}
.old-city-charminar-sub1 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: #FF0202;
}
.old-city-charminar {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: #151414;
}
.desktop-4 .vector {
  width: 24px;
  height: 25px;
}
.desktop-4 .vector-1 {
  width: 24px;
  height: 25px;
}
.desktop-4 .vector-2 {
  width: 24px;
  height: 25px;
}
.desktop-4 .vector-3 {
  width: 24px;
  height: 25px;
}
.desktop-4 .vector-4 {
  width: 24px;
  height: 25px;
}
.desktop-4 .group-1 {
  margin-left: 0.7px;
  display: flex;
  flex-direction: row;
  column-gap: 7px;
  width: 148px;
  box-sizing: border-box;
}
.desktop-4 .container-4 {
  margin: 67px 42.3px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-4 .container {
  margin: 162px 34.3px 23px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #12319D;
}
.desktop-4 .d-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.desktop-4 .container-6 {
  border-radius: 30px;
  border: 2px solid #000000;
  position: relative;
  margin: 87px 80px 83px 0;
  display: flex;
  padding-bottom: 5px;
  width: 173px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .know-more-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-4 .container-15 {
  border-radius: 25px;
  background: #A97003;
  position: relative;
  margin: 84px 0 80px 0;
  display: flex;
  padding: 13px 0 17px 9px;
  width: 197px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-14 {
  border-radius: 10px;
  background: #D9D9D9;
  position: relative;
  margin: 0 0 73px 50px;
  display: flex;
  flex-direction: row;
  padding: 26px 54px 31px 51px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 .whats-app-image-20240706-at-13829-am-2 {
  border-radius: 30px;
  background: url('../assets/images/whats_app_image_20240706_at_13829_am_2.jpeg') 50% / cover no-repeat;
  transform: rotate(-89.538deg);
  margin-right: 52.4px;
  width: 216.5px;
  height: 360.1px;
}
.desktop-4 .bhuvanagiri-swarnagiri-temple {
  margin: 0 21.8px 19px 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}
.bhuvanagiri-swarnagiri-temple-sub42 {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: #FF0202;
}
.bhuvanagiri-swarnagiri-temple {
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.333;
  color: #151414;
}
.desktop-4 .vector-5 {
  margin-right: 7px;
  width: 24px;
  height: 25px;
}
.desktop-4 .vector-6 {
  margin-right: 7px;
  width: 24px;
  height: 25px;
}
.desktop-4 .vector-7 {
  margin-right: 7px;
  width: 24px;
  height: 25px;
}
.desktop-4 .vector-8 {
  margin-right: 7px;
  width: 24px;
  height: 25px;
}
.desktop-4 .vector-9 {
  width: 24px;
  height: 25px;
}
.desktop-4 .group-2 {
  margin: 6px 0 7px 0;
  display: flex;
  flex-direction: row;
  width: 148px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Itim';
  font-weight: 400;
  font-size: 32px;
  color: #12319D;
}
.desktop-4 .container-17 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 234.7px;
  box-sizing: border-box;
}
.desktop-4 .container-13 {
  margin: 73.6px 34.3px 12.8px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.desktop-4 .d-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  color: #000000;
}
.desktop-4 .container-18 {
  border-radius: 30px;
  border: 2px solid #000000;
  position: relative;
  margin: 82.6px 80px 83.8px 0;
  display: flex;
  padding-bottom: 5px;
  width: 173px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .know-more-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.desktop-4 .container-5 {
  border-radius: 25px;
  background: #A97003;
  position: relative;
  margin: 72.6px 0 84.8px 0;
  display: flex;
  padding: 16px 0 17px 9px;
  width: 197px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-4 .container-16 {
  border-radius: 10px;
  background: #D9D9D9;
  position: relative;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  padding: 36.4px 54px 24.2px 48.9px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-4 {
  background: #E0F8FB;
  display: flex;
  flex-direction: column;
  padding: 16px 81px 194px 30px;
  width: 1440px;
  box-sizing: border-box;
}
