.desktop-11 .about-us-welcome-to-easeeguide-your-ultimate-travel-companion-at-easeeguide-we-believe-that-travel-should-be-easy-enjoyable-and-accessible-to-everyone-our-mission-is-to-inspire-and-empower-travelers-to-explore-the-world-with-confidence-and-ease-whether-youre-planning-aweekend-getaway-afamily-vacation-or-asolo-adventure-were-here-to-provide-you-with-the-tools-tips-and-inspiration-you-need-to-make-your-journey-unforgettable-our-story-founded-by-agroup-of-passionate-travelers-easeeguide-was-born-out-of-adesire-to-share-our-love-for-exploring-new-places-and-experiencing-different-cultures-we-noticed-agap-in-the-market-for-atravel-resource-that-was-both-comprehensive-and-user-friendly-and-personal-stories-to-help-you-plan-your-perfect-trip-so-we-set-out-to-create-aplatform-that-combines-expert-advice-practical-information-what-we-offer-travel-guides-in-depth-guides-to-destinations-around-the-world-featuring-must-see-attractions-hidden-gems-and-local-insights-tips-and-advice-practical-tips-on-everything-from-packing-and-budgeting-to-staying-safe-and-healthy-on-the-road-itineraries-curated-itineraries-for-all-types-of-travelers-whether-youre-looking-for-adventure-relaxation-or-amix-of-both-travel-stories-inspiring-stories-from-fellow-travelers-offering-aglimpse-into-their-experiences-and-adventures-resources-awide-range-of-resources-including-travel-checklists-booking-tools-and-more-to-make-your-travel-planning-process-seamless {
  margin: 0 51.3px 9px 25.3px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.about-us-welcome-to-easeeguide-your-ultimate-travel-companion-at-easeeguide-we-believe-that-travel-should-be-easy-enjoyable-and-accessible-to-everyone-our-mission-is-to-inspire-and-empower-travelers-to-explore-the-world-with-confidence-and-ease-whether-youre-planning-aweekend-getaway-afamily-vacation-or-asolo-adventure-were-here-to-provide-you-with-the-tools-tips-and-inspiration-you-need-to-make-your-journey-unforgettable-our-story-founded-by-agroup-of-passionate-travelers-easeeguide-was-born-out-of-adesire-to-share-our-love-for-exploring-new-places-and-experiencing-different-cultures-we-noticed-agap-in-the-market-for-atravel-resource-that-was-both-comprehensive-and-user-friendly-and-personal-stories-to-help-you-plan-your-perfect-trip-so-we-set-out-to-create-aplatform-that-combines-expert-advice-practical-information-what-we-offer-travel-guides-in-depth-guides-to-destinations-around-the-world-featuring-must-see-attractions-hidden-gems-and-local-insights-tips-and-advice-practical-tips-on-everything-from-packing-and-budgeting-to-staying-safe-and-healthy-on-the-road-itineraries-curated-itineraries-for-all-types-of-travelers-whether-youre-looking-for-adventure-relaxation-or-amix-of-both-travel-stories-inspiring-stories-from-fellow-travelers-offering-aglimpse-into-their-experiences-and-adventures-resources-awide-range-of-resources-including-travel-checklists-booking-tools-and-more-to-make-your-travel-planning-process-seamless-sub1 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.333;
}
.desktop-11 .line-10 {
  background: #000000;
  margin: 0 92px 26px 73px;
  width: 1377px;
  height: 0px;
}
.desktop-11 .fqhow-do-ibook-atrip-on-easeeguide-go-to-the-destinations-page-on-the-website-and-choose-the-destination-where-you-want-to-go-then-click-on-the-book-now-button-which-will-redirect-you-to-the-registration-page-there-you-can-fill-out-the-form-and-register-for-the-trip-what-payment-methods-do-you-accept-we-accept-all-kind-of-payments-how-can-icontact-customer-support-you-can-reach-our-customer-support-team-by-email-phone-or-through-our-live-chat-feature-on-the-website-were-here-to-assist-you-with-any-questions-or-concerns-you-may-have-remember-these-are-just-examples-and-you-can-tailor-the-questions-and-answers-to-fit-your-specific-website-and-services-is-my-personal-information-secure-absolutely-we-take-your-privacy-and-security-seriously-we-use-industry-standard-encryption-technology-to-protect-your-personal-information {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #FAF7F7;
}
.desktop-11 .container {
  background: #046988;
  position: relative;
  display: flex;
  padding: 13px 26.9px 0 37.9px;
  box-sizing: border-box;
}
.desktop-11 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-11 .vector {
  position: absolute;
  left: 64px;
  top: 40px;
  width: 38px;
  height: 49px;
}
.desktop-11 .ellipse-5 {
  box-shadow: 7px 0px 4px 0px rgba(0, 0, 0, 0.66);
  border-radius: 35px;
  position: absolute;
  left: 48px;
  top: 30px;
  width: 70px;
  height: 70px;
}
.desktop-11 {
  background: #E0F8FB;
  display: flex;
  padding-top: 44px;
  width: 1542px;
  box-sizing: border-box;
}
